#siwp_content{
  width:640px;
  margin-bottom:5px;
}

p.siwp_header{
  color:orange;
}

div.siwp_result{
  padding:0px;
  margin-bottom: 10px;  
  clear: both;
  border-bottom: 1px solid #ccc;
  font-size:small;
}
a.siwp_title{
  color: #ff6600;
}

a.siwp_title:hover{
  color: #cc0000;
}

a.siwp_description{
  font-size:small;
  color:#333;
  text-decoration:none;
}

a.siwp_url{
  font-size:small;
  color:#333;
  text-decoration:none;
}
