@charset "UTF-8";

#siwp_content{
  margin-bottom:5px;
}

#siwp_header{
  color:#333;
  font-weight:bold;
  padding: 0 0 15px 0;
  border-bottom: 1px dotted #333;
  height:20px;
}

#siwp_header #siwp_results{
  float:left;  
}

#siwp_header #siwp_powered{
  float:right;
}

.siwp_result{
  padding:10px 0;
  clear: both;
  border-bottom: 1px dotted #333;
  font-size:small;
}

a.siwp_title{
  font-size: medium;
  text-decoration: none;
}

a.siwp_title:hover{
  text-decoration: underline;

}

a.siwp_description{
  font-size:small;
  color:#222;
  text-decoration:none;
}

a.siwp_url{
  font-size:small;
  text-decoration:none;
}


#siwp-config{
  border: 1px dotted #000;
  background: #ffffeb;  
}

#siwp{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width:735px
}

#siwp-header {
  margin-top:20px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000;
  height:42px;
}

#siwp-logo{
  float:left;  
  margin: 0px 0 0 0;
}

#siwp-tagline{
  margin: 12px 0 0 10px;
  float:left;
  text-transform: uppercase;
  color: #000;
  font-size: 11px;
  font-weight:bold;
}

#siwp-overview{
  padding: 20px 10px 30px;
  font-size:13px;
}

#siwp-overview #status{
  width: 355px;
  float:left;
  font-size: 14px;
  margin:  0 20px 5px 0;
  border-right: 1px solid #000
}

#siwp-overview #status .indicate{
  float:left;
  width: 355px;
}

#siwp-overview #status .indicate .light{
  margin: 2px 10px 0 0;
  height: 20px;
  float: left;
}

#siwp-overview #details{
  width: 325px;
  float:left;
}

#siwp-overview .siwp-subhead{
  font-size: 13px;
  font-weight:bold;
  text-transform:uppercase;
  display: block;
}

.siwp-clear{
  clear: both;  
}

.siwp-section{
  padding: 10px;
  margin: 0 0 30px 0;
}

.siwp-section .container{
  margin: 0 0 0 52px;
  padding: 0 0 10px 0;
}

#options-form label{
  font-size: 19px;
  display:block;
}

#options-form #where, #options-form #number{
  margin: 5px 0 8px;
  font-size: 13px;

}

#options-form #where{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}


#options-form .supporting{
  font-size: 13px;
}

.siwp-section .container .cont-head{
  font-weight: bold;
  display: block;
}


.siwp-section .sect-header{
  height: 37px;
  padding: 5px 0 0 52px;
  font-size: 15px;
  font-weight:bold;
  text-transform: uppercase;
}

.siwp-section .sect-header .text{
  border-bottom: 1px dotted #000;
  line-height:23px;
}

.siwp-section#options .sect-header{background:url(images/sect-header-options.png) no-repeat;}
.siwp-section#analytics .sect-header{background:url(images/sect-header-analytics.png) no-repeat;}
.siwp-section#signup .sect-header{background:url(images/sect-header-signup.png) no-repeat;}


.siwp-section#options{background: #ffffeb;-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; margin: 10px 0 30px 0;}
.siwp-section#signup{background: #fff;-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;}

.siwp-divider{
  border-bottom: 1px dotted #000;
  height: 1px;
  margin: 20px 0;  
}

#signup-form label{
  float: left;
  margin: 0 10px 0 10px;
  text-align:right;
  width: 175px;
  padding: 2px 0 0 0;
  
}

#signup-form .signup-input{
  display: block;  
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 12px 0;
  width: 160px;
  font-size: 13px;
}

#signup-form #signup-submit{
  margin: 0 0 0 195px;  
}

.legal{
  font-size: 12px;  
}

.alert{
  font-size: 13px;
  font-weight:bold;
  color: #ff0000;  
  margin: -31px 0 0 380px;
  height: 0;
  float: left;
}